[grid]
minLat=59.0
maxLat=61.0
minLon=4.0
maxLon=6.0
rows=3
cols=3
coordinateSystem=WGS84

[capacity]
defaultBaseCapacity=1

[weatherFactors]
OK=1.0
DEGRADED=0.8
SEVERE=0.6
EXTREME=0.4

[protobufVersion]
version=1

[redis]
redisUrl=tcp://redis-server:6379
#redisUrl=tcp://localhost:6379
redisChannel=flightdata

[dataSource]
type=api  #choose between sim and api 

[simulation]  #if type=sim
numFlights=3
timestepSize=0.5

[execution]
loopIntervalMs=500