[grid]
minLat=59.0
maxLat=61.0
minLon=3.0
maxLon=8.0
cellSizeDeg=0.2
coordinateSystem=WGS84

[capacity]
defaultBaseCapacity=2

[weatherFactors]
OK=1.0
DEGRADED=0.8
SEVERE=0.6
EXTREME=0.4

[protobufVersion]
version=2

[redis]
redisUrl=tcp://redis-server:6379
#redisUrl=tcp://localhost:6379
redisChannel=flightdata

[dataSource]
type=sim  #choose between sim and api 

[simulation]  #if type=sim
numFlights=15
timestepSize=0.5

[execution]
loopIntervalMs=500